<ejs-dialog [visible]="visible" width="600px" [isModal]="true" [showCloseIcon]="true">
  <div class="dialog-content">
    <h3 class="dialog-title">
      <span *ngIf="canManageRoles">{{roleName ? ('roles.management.EditRole' | translate:roleName) : ('roles.management.NewRole' | translate)}}</span>
      <span *ngIf="!canManageRoles">{{'roles.management.RoleDetails' | translate:roleName}}</span>
    </h3>
    <app-role-editor #roleEditor [role]="role" [allPermissions]="allPermissions"></app-role-editor>
    
    <div class="dialog-footer">
      <button *ngIf="canManageRoles" ejs-button cssClass="e-primary" (click)="saveRole()">
        <span class="e-icons e-save"></span>Save
      </button>
      <button *ngIf="canManageRoles" ejs-button cssClass="e-flat" (click)="cancel()">
        Cancel
      </button>
      <button *ngIf="!canManageRoles" ejs-button cssClass="e-flat" (click)="cancel()">
        Close
      </button>
    </div>
  </div>
</ejs-dialog>
