<div class="e-dialog-header">
  <div *ngIf="canManageRoles" class="e-dialog-title">{{roleName ? ('roles.management.EditRole' | translate:roleName) : ('roles.management.NewRole' | translate)}}</div>
  <div *ngIf="!canManageRoles" class="e-dialog-title">{{'roles.management.RoleDetails' | translate:roleName}}</div>
</div>
<div class="e-dialog-content">
  <app-role-editor #roleEditor [role]="data.role" [allPermissions]="data.allPermissions"></app-role-editor>
</div>
<div class="e-dialog-footer">
  <div class="e-footer-buttons">
    <button *ngIf="canManageRoles" ejs-button cssClass="e-primary" (click)="roleEditor.save();">Save</button>
    <button *ngIf="canManageRoles" ejs-button cssClass="e-danger" (click)="cancel()">Cancel</button>
    <button *ngIf="!canManageRoles" ejs-button (click)="cancel()">Close</button>
  </div>
</div>
