<app-page-header-standalone title="About" icon="info"></app-page-header-standalone>

<div class="page-content">
    <div [@fadeInOut]>
        <h4>Welcome to Resource-Coordinate</h4>
        <div id="content" class="content">
            <div id="sub_content">
                <div class="container">
                    <!-- Services -->
                    <div class="block services">
                        <ul class="thumbnails row">
                          <li class="col-md-4">
                            <h3 class="title">
                              <i class="glyphicon glyphicon-pencil icon-small icon-inverse-80 _icon-circle"></i> Welcome
                            </h3>
                            <p>
                              Welcome to Resource-Coordinator, where we specialize in optimizing your business and helping you utilize your resources more efficiently.
                            </p>
                            <p>
                              We integrate real-time information about the location of your mobile resources with the geographical data of your customer base, enabling you to make well-informed decisions for maximum efficiency.
                            </p>
                            <p><strong>Which companies can benefit from utilizing Resource-Coordinator?</strong></p>
                            <p>
                              Any company with a mobile workforce—whether on foot, bicycle, motorbike, car, or any other type of vehicle—stands to gain from our services.
                            </p>
                            <p>
                              We specifically target companies that currently lack robust software tools for planning and controlling their mobile resources. Our unique tool is designed to provide the most significant advantages to businesses with minimal or basic software solutions in place.
                            </p>
                            <p>
                              Consider exploring various scenarios to determine if a similar model could seamlessly integrate with and enhance your company or organization's operations. Resource-Coordinator aims to be a valuable asset for streamlining your processes and maximizing the potential of your mobile workforce.
                            </p>
                          </li>

                          <li class="col-md-4">
                            <h3 class="title">
                              <i class="glyphicon glyphicon-wrench icon-small icon-inverse-80 _icon-circle"></i> Optimization
                            </h3>
                            <p>
                              We provide two types of optimization models to enhance your business efficiency.
                            </p>
                            <p>
                              Consider a scenario where you have a significant backlog of work items, and you schedule daily tasks for your resources. In this case, our trip optimizer comes into play. It optimizes the route for each of your mobile resources, ensuring the shortest distance and the most economical route. This is particularly beneficial for service providers who visit customers to provide various services.
                            </p>
                            <p>
                              The second form of optimization occurs when your resources are in the field, sometimes waiting for a new assignment. You can identify the resource with the shortest distance to any customer, similar to a taxi or hackney service.
                            </p>
                            <p>
                              While some companies rely on local geographical knowledge, expanding your business beyond your comfort zone is where Resource-Coordinator provides invaluable support.
                            </p>
                            <p>
                              In a world with many business applications, Resource-Coordinator stands out by offering seamless interaction and communication with any of your existing systems through the web.
                            </p>
                            <p>
                              To help you determine the value of our services, we offer a free one-month evaluation period. Take this opportunity to see how Resource-Coordinate can optimize your resource utilization.
                            </p>
                          </li>
                          <li class="col-md-4">
                            <h3 class="title">
                              <i class="glyphicon glyphicon-shopping-cart icon-small icon-inverse-80 _icon-circle"></i> Try before you buy.
                            </h3>
                            <h4>What do you need?</h4>
                            <p>
                              To get started, all you need is a vehicle no older than 2003 with a compatible OBD2 connector.
                            </p>
                            <p>
                              Additionally, equip your resources with a smartphone connected to mobile internet for optimal functionality.
                            </p>
                            <p>
                              For privacy, drivers can set the trip to private, ensuring that no specific locations are logged—only the total distance traveled is recorded.
                            </p>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="col-md-10 center">
              <h2>Getting Started</h2>
              <div>
                Welcome to our introductory phase! We invite new users to evaluate our system and provide valuable feedback for ongoing development. Initially available in English, Resource-Coordinate is designed to support any language; please reach out to us for a version in your preferred language.

                Following the evaluation period, during which you can thoroughly assess the enhanced efficiency in resource handling, we transition to a subscription-based model. The basic model is priced at 25 USD per calendar month for each user in the system, providing a clear indication of potential cost savings.

                We're excited to embark on this journey with you towards optimized resource management. Feel free to contact us for further details or to get started!
              </div>
            </div>
          </div>
        </div>
        <h5>Version : 240101_2</h5>
        <ul></ul>

        <a href="https://www.schondell.com/" class="more-templates">
            <button ejs-button cssClass="e-primary" iconCss="e-icons e-shopping-cart">Parent company</button>
        </a>
    </div>
</div>