@use 'breakpoints';

.search-container {
  gap: 20px;

  @include breakpoints.breakpoint('lt-sm') {
    gap: 0;
    margin-bottom: 20px;

    mat-slide-toggle {
      margin-left: -2.25em;
    }
  }
}

.flex-60px {
  flex: 1 1 60px;
  box-sizing: border-box;
  max-width: 60px;
  min-width: 60px;
}

.flex-grow35 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 35%;
}

.mat-column-select {
  overflow: visible;
}

.completed {
  text-decoration: line-through;
}
