<ejs-dialog #ejDialog [visible]="visible" [header]="showTitle ? title : ''" 
           [animationSettings]="animationSettings" [showCloseIcon]="true"
           [width]="'400px'" (close)="onDialogClose()">
  <ng-template #content>
    <div class="dialog-content">
      <p *ngIf="!isPrompt" class="dialog-message">{{message}}</p>
      
      <div *ngIf="isPrompt" class="e-input-group">
        <span class="e-float-text">{{message}}</span>
        <input type="text" class="e-input" [(ngModel)]="result" />
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="dialog-footer">
      <button ejs-button cssClass="e-primary" (click)="ok()">{{okLabel}}</button>
      <button ejs-button *ngIf="showCancel" (click)="cancel()">{{cancelLabel}}</button>
    </div>
  </ng-template>
</ejs-dialog>