<form #form="ngForm" [formGroup]="roleForm" novalidate (ngSubmit)="save()" class="flex-col gap-1em" autocomplete="off">

  <div class="flex-row flex-col-ltmd gap-col-1em">
    <div class="e-input-group flex-1">
      <div class="e-float-input">
        <input type="text" formControlName="name" [readonly]="!canManageRoles" />
        <span class="e-float-line"></span>
        <label class="e-float-text">{{'roles.editor.Name' | translate}}</label>
      </div>
      <div *ngIf="name.hasError('required')" class="e-error">{{'roles.editor.RoleNameRequired' | translate}}</div>
    </div>

    <div class="e-input-group flex-1">
      <div class="e-float-input">
        <input type="text" formControlName="description" [readonly]="!canManageRoles" />
        <span class="e-float-line"></span>
        <label class="e-float-text">{{'roles.editor.Description' | translate}}</label>
      </div>
    </div>
  </div>

  <ejs-accordion *ngFor="let permissionGroup of allPermissions | groupBy: 'groupName'" [expanded]="isNewRole">
    <e-accordionitems>
      <e-accordionitem>
        <ng-template #header>
          <div>{{permissionGroup.key}}</div>
        </ng-template>
        <ng-template #content>
          <div *ngFor="let permission of permissionGroup.value">
            <ejs-switch [disabled]="!canManageRoles"
                      [title]="permission.description"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selectedPermissions.toggle(permission) : null"
                      [checked]="selectedPermissions.isSelected(permission)">
            </ejs-switch>
            <span class="switch-label">{{permission.name}}</span>
          </div>
        </ng-template>
      </e-accordionitem>
    </e-accordionitems>
  </ejs-accordion>
  <br />
</form>
