<form #form [formGroup]="userProfileForm" novalidate (ngSubmit)="save()" [class.text-field--unfilled]="!isEditMode" class="flex-col" autocomplete="off">

  <div class="form-section">
    <div class="flex-row flex-col-ltmd gap-col-1em">
      <div class="form-group flex-1">
        <label>{{'users.editor.JobTitle' | translate}}</label>
        <div class="e-input-group">
          <input class="e-input" formControlName="jobTitle" [readonly]="!isEditMode" [placeholder]="'users.editor.JobTitle' | translate" />
        </div>
      </div>

      <div class="form-group flex-1">
        <label>{{'users.editor.FullName' | translate}}</label>
        <div class="e-input-group">
          <input class="e-input" formControlName="fullName" [readonly]="!isEditMode" [placeholder]="'users.editor.FullName' | translate" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="flex-row flex-col-ltmd gap-col-1em">
      <div class="form-group flex-1">
        <label>{{'users.editor.Email' | translate}}</label>
        <div class="e-input-group" [class.auto-width]="emailConfirmed === false">
          <input class="e-input" formControlName="email" [readonly]="!isEditMode" [placeholder]="'users.editor.Email' | translate" />
        </div>
        <button *ngIf="emailConfirmed === false" type="button" (click)="sendVerificationEmail()" [disabled]="isSendingEmail" 
                ejs-button cssClass="e-small e-primary send-confirm-email">
          [{{'users.editor.SendVerificationEmail' | translate}}]
        </button>
        <div class="field-error" *ngIf="email.hasError('required')">{{'users.editor.EmailRequired' | translate}}</div>
        <div class="field-error" *ngIf="!email.hasError('required') && email.hasError('email')">{{'users.editor.InvalidEmail' | translate}}</div>
      </div>

      <div class="form-group flex-1">
        <label>{{'users.editor.PhoneNumber' | translate}}</label>
        <div class="e-input-group">
          <input class="e-input" formControlName="phoneNumber" [readonly]="!isEditMode" [placeholder]="'users.editor.PhoneNumber' | translate" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="flex-row flex-col-ltmd gap-col-1em">
      <div class="form-group flex-nogrow50-gtsm">
        <label>{{'users.editor.UserName' | translate}}</label>
        <div class="e-input-group">
          <input class="e-input" formControlName="userName" [readonly]="!isEditMode" autocomplete="off" [placeholder]="'users.editor.UserName' | translate" />
        </div>
        <div class="field-error" *ngIf="userName.hasError('required')">{{'users.editor.UserNameRequired' | translate}}</div>
      </div>

      <div class="form-group flex-1" *ngIf="userHasPassword && (isEditMode && !isNewUser && ((userName.value != user.userName || confirmedEmailChanged)) || (isChangePassword && isEditingSelf))" formGroupName="password">
        <label>{{'users.editor.CurrentPassword' | translate}}</label>
        <div class="e-input-group">
          <input class="e-input" type="password" formControlName="currentPassword" [placeholder]="'users.editor.CurrentPassword' | translate" />
        </div>
        <div class="field-error" *ngIf="currentPassword.hasError('required')">{{'users.editor.CurrentPasswordRequired' | translate}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="isEditMode" class="form-section">
    <button ejs-button cssClass="e-primary change-password-button" (click)="changePassword()" *ngIf="!(isChangePassword || isNewUser)">
      {{'users.editor.ChangePassword' | translate}}
    </button>

    <div *ngIf="isChangePassword || isNewUser" formGroupName="password" class="flex-row flex-col-ltmd gap-col-1em">
      <div class="form-group flex-1">
        <label>{{'users.editor.NewPassword' | translate}}</label>
        <div class="e-input-group">
          <input class="e-input" type="password" formControlName="newPassword" autocomplete="off" [placeholder]="'users.editor.NewPassword' | translate" />
        </div>
        <div class="field-error" *ngIf="newPassword.hasError('required')">{{'users.editor.NewPasswordRequired' | translate}}</div>
        <div class="field-error" *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">{{'users.editor.NewPasswordRules' | translate}}</div>
      </div>

      <div class="form-group flex-1">
        <label>{{'users.editor.ConfirmPassword' | translate}}</label>
        <div class="e-input-group">
          <input class="e-input" type="password" formControlName="confirmPassword" [placeholder]="'users.editor.ConfirmPassword' | translate" />
        </div>
        <div class="field-error" *ngIf="confirmPassword.hasError('required')">{{'users.editor.ConfirmationPasswordRequired' | translate}}</div>
        <div class="field-error" *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">{{'users.editor.PasswordMismatch' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="flex-row flex-col-ltmd gap-col-1em">
      <div class="form-group flex-nogrow50-gtsm">
        <label>{{'users.editor.Roles' | translate}}</label>
        <ejs-multiselect 
          formControlName="roles"
          [dataSource]="assignableRoles" 
          [fields]="{text: 'name', value: 'name'}"
          [readonly]="!isEditMode || !canAssignRoles"
          [placeholder]="'users.editor.Roles' | translate"
          (select)="rolesChanged()"
          (removed)="rolesChanged()">
        </ejs-multiselect>
        <div class="field-error" *ngIf="assignedRoles.hasError('required')">{{'users.editor.RoleRequired' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="form-section">
    <div class="flex-row flex-col-ltmd gap-col-1em">
      <div class="form-group flex-nogrow50-gtsm">
        <ejs-checkbox *ngIf="isEditMode" formControlName="isEnabled" [label]="'users.editor.Enabled' | translate"></ejs-checkbox>
      </div>

      <div class="form-group">
        <button ejs-button cssClass="e-warning" *ngIf="user.isLockedOut" (click)="unlockUser()" [disabled]="isSaving">
          <span class="e-icons e-unlock"></span>{{'users.editor.Unblock' | translate}}
        </button>
      </div>
    </div>
  </div>
</form>
