/* App theme file - CSS Custom Properties based */

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* Component specific themes */
@import './shared/footer/_footer.component-theme.scss';
@import './admin/role-editor/role-editor.component-theme.scss';

/* Main application theme */
@mixin apply-theme() {
  .active-nav-item {
    background-color: var(--primary-light);
    color: var(--primary);
  }

  .clearfix {
    @include clearfix();
  }

  /* Apply component-specific themes */
  @include footer-theme();
  @include role-editor-theme();
}

/* Use this mixin in the global styles.scss if component-specific themes are needed */
@mixin coordinate-ui-app-theme() {
  @include apply-theme();
}