<form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="login-form">
  <div class="form-group">
    <label for="userName">Username</label>
    <input type="text" id="userName" class="e-input" formControlName="userName" 
           autocomplete="username" (keydown.enter)="enterKeyDown()">
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="error-message">
      <div *ngIf="userName.errors?.['required']">User name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="e-input" formControlName="password" 
           autocomplete="current-password" (keydown.enter)="enterKeyDown()">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
      <div *ngIf="password.errors?.['required']">Password is required</div>
    </div>
  </div>

  <div class="form-group checkbox-group">
    <ejs-checkbox formControlName="rememberMe" label="Remember me" (keydown.enter)="enterKeyDown()"></ejs-checkbox>
  </div>
</form>