<app-page-header title="Roles" icon="assignment_ind"></app-page-header>
<div [@fadeInOut] class="page-content role-list-container">

  <div class="search-box">
    <div class="e-input-group">
      <input class="e-input" (keyup)="applyFilter($event.target.value)" placeholder="{{'roles.management.Search' | translate}}">
    </div>
  </div>

  <div class="e-card">
    <div *ngIf="loadingIndicator" class="e-progress-container">
      <div class="loading-bar">Loading...</div>
    </div>
    
    <ejs-grid #grid [dataSource]="dataSource" allowPaging="true" allowSorting="true">
      <e-columns>
        <e-column field="name" headerText="{{'roles.management.Name' | translate}}" width="40%" [allowSorting]="true"></e-column>
        <e-column field="description" headerText="{{'roles.management.Description' | translate}}" [allowSorting]="true"></e-column>
        <e-column field="usersCount" headerText="{{'roles.management.Users' | translate}}" width="70px" [allowSorting]="true"></e-column>
        <e-column headerText="" width="170px">
          <ng-template #headerTemplate>
            <div class="justify-center">
              <button *ngIf="canManageRoles" ejs-button cssClass="e-primary" title="{{'roles.management.NewRole' | translate}}" (click)="editRole()">
                <span class="e-icons e-add"></span>{{'roles.management.NewRole' | translate}}
              </button>
            </div>
          </ng-template>
          <ng-template #template let-role>
            <div class="justify-center">
              <button *ngIf="!canManageRoles" ejs-button cssClass="e-round e-flat" title="{{'roles.management.Details' | translate}}" (click)="editRole(role)">
                <span class="e-icons e-more-vertical"></span>
              </button>
              <button *ngIf="canManageRoles" ejs-button cssClass="e-round e-flat e-info" title="{{'roles.management.Edit' | translate}}" (click)="editRole(role)">
                <span class="e-icons e-edit"></span>
              </button>
              <button *ngIf="canManageRoles" ejs-button cssClass="e-round e-flat e-danger" title="{{'roles.management.Delete' | translate}}" (click)="confirmDelete(role)">
                <span class="e-icons e-delete"></span>
              </button>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>

<!-- Edit Role Dialog -->
<app-edit-role-dialog 
  *ngIf="showEditDialog"
  [role]="editingRole"
  [allPermissions]="allPermissions"
  (roleSaved)="onRoleSaved($event)"
  (dialogClosed)="onDialogClosed()">
</app-edit-role-dialog>
