
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container  vehicle-card {
  flex: 1 0 21%; /* The extra 1% is for margin/padding */
  margin: 1%;
  max-height: 200px;
}
.property-panel-section .property-panel-content td {
  padding: 0 0 15px 0;
}

.tile_layout.card-control-section .e-error {
  height: 100px;
  width: 100%;
}

.tile_layout.card-control-section .e-error .e-error-content {
  color: red;
  line-height: 100px;
  text-align: center;
}

.tile_layout.card-control-section .e-card .e-card-image {
  height: 180px;
  width: inherit;
}

.tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-header-title {
  font-size: 20px;
  font-family: Helvetica, 'Segoe UI';
  font-weight: bold;
}

.tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
  padding-top: 5px;
}

.tile_layout.card-control-section .e-card .e-card-content {
  padding-top: 0px;
  height: 110px;
}

.tile_layout .e-card-layout {
  max-width: 100%;
}

#source_link {
  float: right;
  margin-right: 10px;
}
