<div data-flex="33.3" class="p-2">
  <mat-card class="custom-card">
    <mat-card-header class="bg-primary p-1" fxLayoutAlign="space-between center">
      <mat-card-title class="m-0">
        <h3>Primary Card</h3>
      </mat-card-title>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/demo/map.png" alt="5">
    <mat-card-content>
      <table style="width: 100%">
        <tbody>
          <tr>
            <td id="Status_1035">Idling</td>
            <td>Speed:</td>
            <td id="Speed_1035">0</td>
            <td>Since:</td>
            <td id="Since_1035">00:00</td>
          </tr>
          <tr>
            <td>Total Driving:</td>
            <td id="TotalDriving_1035">0</td>
            <td>Distance:</td>
            <td id="Distance_1035">0</td>
          </tr>
          <tr>
            <td>Total Idle:</td>
            <td id="TotalIdle_1035">00:00</td>
            <td>Last Seen:</td>
            <td id="LastSeen_1035">00:00</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-divider></mat-divider>
<!--    <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">-->
<!--      <button mat-icon-button>-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button>-->
<!--        <mat-icon>share</mat-icon>-->
<!--      </button>-->
<!--    </mat-card-actions>-->
  </mat-card>
</div>
