.e-palette::before {
  content: '\e3b7';
  font-family: 'Material Icons';
}

.e-day::before {
  content: '\e430';
  font-family: 'Material Icons';
}

.e-moon::before {
  content: '\e3a8';
  font-family: 'Material Icons';
}

.e-dropdown-popup {
  .e-item {
    display: flex;
    align-items: center;
    
    .e-menu-icon {
      margin-right: 8px;
    }
  }
}

// Theme color indicators
.e-dropdown-popup .e-item:nth-child(1)::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3F51B5;
  margin-left: auto;
  margin-right: 8px;
}

.e-dropdown-popup .e-item:nth-child(2)::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #673AB7;
  margin-left: auto;
  margin-right: 8px;
}

.e-dropdown-popup .e-item:nth-child(3)::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0d6efd;
  margin-left: auto;
  margin-right: 8px;
}

.e-dropdown-popup .e-item:nth-child(4)::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0d6efd;
  margin-left: auto;
  margin-right: 8px;
}